body{
background-color: rgb(191, 229, 244);
}
header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: lightblue;
    box-shadow: 3px 3px 3px 3px rgb(7, 13, 20);;
    border-radius: 10px;
}
.logo-img-1{
    width: 100px;
    height: auto;
}
.nav-cls ul{
    display: flex;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
    margin: 0px 500px;
}
@media(max-width:768px){
    header{
        flex-direction: column;
        text-align: center;
    }
    .nav-cls ul{
    
        margin: 10px 0px;
    }
    .nav ul li{
        margin: 5px 0
    }
}
li{
    list-style-type: none;
    margin: 0px 7px;   
}
a{
    color: white;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
a:hover{
    color: #007bff;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}
.img-cls{
    flex: 1;
    max-width: 50%;
}
.left-img{
    position: absolute;
    padding: 6px;
    width: 48%;
    height: 400px;
    border-radius: 25px;
}
.left-img:hover{
    position: absolute;
    padding: 6px;
    width: 48%;
    height: 400px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:2px 7px 5px 2px rgb(185, 57, 57);
}
.right-img{
    position: absolute;
    padding: 6px;
    width: 48%;
    height: 400px;
    border-radius: 25px;
}
.right-img:hover{
    position: absolute;
    padding: 6px;
    width: 48%;
    height: 400px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:2px 7px 5px 2px rgb(54, 79, 111);
}
p{
    position: relative;
    color: white;
    margin: 10px ;
    padding: 10px ;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button1{
    position: relative;
    margin-left: 25px;
    width: fit-content;
    height: 50px;
    background-color: rgb(143, 3, 3);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.link1:hover{
    text-decoration: none;
}
.button1:hover{
    position: relative;
    margin-left: 25px;
    width: fit-content;
    height: 50px;
    background-color: rgb(228, 85, 85);
    box-shadow:2px 7px 5px 2px rgb(86, 41, 41);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.button2{
    position: relative;
    margin-left: 25px;
    width: fit-content;
    height: 50px;
    background-color: rgb(3, 78, 139);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.button2:hover{
    position: relative;
    margin-left: 25px;
    width: fit-content;
    height: 50px;
    background-color: rgb(96, 151, 234);
    box-shadow:2px 7px 5px 2px rgb(54, 79, 111);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.link2:hover{
    text-decoration: none;
}
.sec-class1{
    width: fit-content;
    height: fit-content;
    margin-left: 43%;
    background-color:rgb(171, 196, 210);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}
.para-1{
    margin-right: 5px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para-1::first-letter{
    padding-left: 50px;
}
.sec-img-1{
    width:250px; 
    height:300px;
    padding-left: 6px;
    border-radius: 25px;
}
.sec-img-2{
    width: 250px;
    height: 300px;
    padding-left: 6px;
    border-radius: 25px;
}
.sec-img-1:hover{
    width: 250px;
    height: 300px;
    margin-left: 0%;
    box-sizing:2px 7px 5px 0px;
    cursor: pointer;
}
.sec-img-2:hover{
    width: 250px;
    height: 300px;
    margin-left: 0%;
    box-sizing:2px 7px 5px 0px;
    box-shadow:2px 7px 5px 2px rgb(54, 79, 111);
    cursor: pointer;
}
.sec-class2{
    width: fit-content;
    height: fit-content;
    margin-left: 43%;
    background-color: rgb(171, 196, 210);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}
.para-2{
    margin-right: 0px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para-2::first-letter{
    padding-left: 50px;
}
.sec-img-3{
    width:250px; 
    height:300px;
    margin-left: 0%;
    border-radius: 25px;
}
.sec-img-4{
    width: 250px;
    height: 300px;
    margin-left: 0%;
    border-radius: 25px;
}
.sec-img-3:hover{
    width: 250px;
    height: 300px;
    margin-left: 0%;
    box-shadow:2px 7px 5px 2px rgb(54, 79, 111);
    cursor: pointer;
}
.sec-img-4:hover{
    width: 250px;
    height: 300px;
    margin-left: 0%;
    box-shadow:2px 7px 5px 2px rgb(54, 79, 111);
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: lightblue;
    box-shadow: 3px 3px 3px 3px rgb(7, 13, 20);;
    border-radius: 10px;
}
.para-3,.para-4{
    color: black;
    justify-content: center;
    text-align: center;
}
.email{
justify-content: center;
margin: 0px 40%;
}
.email-id{
    font-size: larger;
}
